APP_PORT=3000

DB_HOST=postgres
DB_HOST_TEST=postgres
DB_PORT=5432
DB_NAME=incicle_workflow
DB_USER=incicle
DB_PASSWORD=secret

ASYNC_PROVIDER=rabbitmq
ASYNC_URL=amqp://guest:guest@rabbitmq:5672
JWT_SECRET=change-me

LOG_LEVEL=info

SLA_DEFAULT_HOURS=24
